.nav-icon {
    display: none;
    @include mobile-view{
    position: absolute;
    display: block;
    right: 2%;
    font-size: $xxx-large;
    }
    }
.navbar {
    height: 120px;
    display: flex;
    background: $white;
    align-items: center;
    position: relative;
    z-index: 5;

    &__logo{
        display: grid;
        place-items: center;
        width: 120px;
        height: 120px;
        background: $smokyblack;   
        font-family: $oldstandard; 
        
       
        a{
            position: absolute;
            text-decoration: none;
            color: $white;
            font-size: $xx-large;
            
        }
    }
    &__links{
        position: absolute;
        right: 2%;
        
        @include mobile-view{
            display: none;
            position: fixed;
            width: 100%;
            height: 68px;
            top:150px;
            left: 0;
            background: $white;
            opacity: 40%;
            
            a{
                font-size: 0.9rem;
                margin-left: 10px;
                color: $smokyblack;
                display: block;
                text-transform: uppercase;
            }
        }  
    }
    &__link{
        text-decoration: none;
        margin-right: 70px;
        color: $smokyblack;
        font-size: $large;
        font-family: $raleway;
        font-weight: $bold;
    }
    @include laptop-view{
        &__link{
            margin-right: 35px;
        }
    }
    @include tablet-view{
        &__link {
            margin-right: 35px;
        }
    }
}
#nav-btn{
    display: none;
}
#nav-btn:checked ~ .navbar__links{
    display: block;
}
